<h1>Add person to project</h1>

<%= form_with(model: [@project, @person, @work], local: true) do |f| %>
  <div class="form-group">
    <%= f.label :fee %>
    <%= f.number_field :fee, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :start_date %>
    <%= f.text_field :start_date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :finish_date %>
    <%= f.text_field :finish_date, class: 'form-control' %>
  </div>

  <%= f.submit 'Save', class: 'btn btn-outline-success' %>
  
<% end %>